@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #083d65;
  --foreground: #171717;
  --primary: #fbbf24;
  --secondary: #3965a2;
  --deepBlue: #38538d;
  --lightBlue: #629ae9;
  --lightOrange: #e6a754;
  --lightGreen: #59e069;
  --lightRed: #ec4f4f;
  --lightYellow: #f3e441;
  --lightPink: #e49adc;
  --lightPurple: #dd6be0;
  --lightBrown: #e69c52;
  --lightGray: #d6d6d6;
  --textDisabled: #a1a1a1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--deepBlue);
    --foreground: #ededed;
  }
}

body {
  color: white;
  background: var(--deepBlue);
  font-family: 'Jersey 15';
}

/* 移除上下箭頭 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.background {
  position: absolute;
  /* 确保背景图片在文字后面 */
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(2px);
  /* 调整模糊程度 */
  z-index: -1;
  transition: filter 0.7s ease;
}

.homepage-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgb(44, 44, 44);
  opacity: 60%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button-wallet {
  background-color: var(--lightBlue);
  color: white;
  /* text-white */
  padding: 0.5rem 1rem;
  /* px-6 py-3 */
  border-radius: 96px;
  transition: background-color 0.3s;
  /* 添加过渡效果 */
}

.button-wallet:hover {
  background-color: #4a87db;
  /* hover:bg-yellow-600 */
}

.token-icon {
  width: 28px;
  height: 28px;
  margin: 0px 8px;
  border-radius: 100%;
}

.token-name {
  margin-left: 8px;
  color: white;
  font-size: 28px;
}

.content-primary {
  font-size: 20px;
}

.h1 {
  font-size: 36px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  /* 增加黑色陰影 */
}

.h2 {
  font-size: 24px;
}

.title-primary {
  font-size: 64px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  /* 增加黑色陰影 */
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--lightBlue);
  padding: 16px 24px;
  border-radius: 12px;
  color: #ccc;
  min-height: 4rem;
  width: 100%;
}

.input-field {
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  outline: none;
  min-width: 0;
  /* 防止 input 超出容器寬度 */
}

.input-field::placeholder {
  color: var(--lightGray);
}

.playground-button {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  /* 增加黑色陰影 */
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  color: white;
  background: linear-gradient(90deg, #4cb0f7, #2ed7b3);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.playground-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.playground-button:disabled {
  background: var(--lightGray);
  color: #a1a1a1;
  border: 1px solid var(--lightgray);
  cursor: not-allowed;
  text-shadow: none;
}

.navbarContainer {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  flex: 1;
  min-height: 64px;
  gap: 2rem;
}

.navbarContainer-wallet-disconnect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4rem;
  min-height: 64px;
}

.navbarSubContainer {
  display: flex;
  /* 使用 Flexbox */
  justify-content: flex-end;
  /* 将子元素推到右侧 */
  align-items: center;
  margin-right: 4rem;
  flex: 1;
  gap: 2rem;
}

/* 基本样式 */
.navbar {
  position: fixed;
  /* 固定在顶部 */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: linear-gradient(30deg, #4cb0f7, var(--secondary));
}

.vaultStatusContainer {
  border-radius: 12px;
  border: 2px solid var(--lightBlue);
  width: 100%;
  padding: 24px;
}

.tabs-container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.tab {
  flex: 1;
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: var(--lightBlue);
  color: var(--lightGray);
  transition: background-color 0.3s, color 0.3s;
}

.tab.active {
  background-color: #86d9ff;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  /* 增加黑色陰影 */
}

.notifications {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.notification-container {
  background-color: var(--lightBlue);
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  min-width: 300px;
  font-size: 16px;
}

.notification-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.close-btn {
  margin-left: auto;
  /* 將按鈕推到右側 */
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: #ff6961;
}

.diagram-container {
  display: flex;
  min-height: 310px;
  background: #13296b;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 12px 0px;
}

.line-chart-container {
  flex: 1.5;
  position: relative;
  z-index: 2;
}

.invest-point {
  position: absolute;
  left: 140px;
  top: 120px;
  color: #6ad1e3;
  display: flex;
  max-width: 240px;
  align-items: center;
}

.invest-point-now {
  position: absolute;
  left: 170px;
  top: 90%;
  color: #6ad1e3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.interest-rate {
  position: absolute;
  left: 230px;
  top: 220px;
  color: #fff;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.redeem-section {
  flex: 1;
  background: #377f67;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  border-top-right-radius: 12px;
}

.current-price-section {
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 42%;
  width: 100%;
}

.loss-section {
  position: relative;
  flex: 1;
  background: #885f58;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  border-bottom-right-radius: 12px;
}

.maturity-text {
  position: absolute;
  top: 80%;
  left: 20px;
  color: var(--lightGray);
}

.horizontal-line {
  position: absolute;
  top: 50%;
  width: 100%;
  border-top: 1px dashed #ffffff;
  transform: translateY(-50%);
  z-index: 1;
}

.playground-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 72px;
}

.playground-sub-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  /* 允許子元素換行 */
  justify-content: space-between;
  /* 讓子元素保持間距 */
  padding: 24px 0px;
}

.playground-sub-left-container,
.playground-sub-right-container,
.explanation-sub-container {
  flex: 1 1 45%;
  /* 每個區塊默認佔 45% 寬度 */
  box-sizing: border-box;
  /* 確保 padding 不影響寬度計算 */
}

.playground-sub-left-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.invest-container {
  display: flex;
  background: linear-gradient(180deg, #3983b9, var(--secondary));
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  margin: 0px 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

.playground-sub-right-container {
  display: flex;
  flex-direction: column;
  padding: 0px 24px;
  gap: 16px;
}

@media (max-width: 768px) {

  .playground-sub-left-container,
  .playground-sub-right-container,
  .explanation-sub-container {
    flex: 1 1;
  }
}

.user-position-container {
  height: 100%;
  /* h-screen */
  display: flex;
  /* flex */
  flex-direction: column;
  margin-bottom: 5rem;
  /* pb-20 */
  border-radius: 12px;
  padding: 0px 36px;
  width: 100%;
  /* max-w-7xl (80rem) */
  align-items: flex-start;
  justify-content: center;
}

.grid-container {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(500px, 1fr));
  gap: 32px;
  margin-top: 1rem;
  padding: 24px;
}

.position-card {
  position: relative;
  background: linear-gradient(135deg, #1F2937, #2C3E50);
  /* 從淡灰到深藍 */
  color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.position-card-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: gray;
  opacity: 80%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 96px;
  color: #2C3E50;
}

.position-card h3 {
  margin: 0 0 8px;
}

.position-card p {
  margin: 4px 0;
}

.price-simulator-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.redeem-button {
  position: absolute;
  bottom: 15%;
  right: 5%;
  padding: 8px 16px;
  border-radius: 12px;
  background: var(--lightGray);
  color: #a1a1a1;
  cursor: not-allowed;
}

.redeem-button.active {
  background: linear-gradient(90deg, #4cb0f7, #2ed7b3);
  color: white;
  cursor: pointer;
}

.redeem-button.active:hover {
  background: linear-gradient(90deg, #189efd, #11cba3);
}

.status-point {
  border-radius: 100%;
  width: 12px;
  height: 12px;
  transition: background-color 0.3s ease;
  background-color: var(--status-color);
}

.status-text {
  font-size: 20px;
  transition: color 0.3s ease;
  color: var(--status-color);
}

.status-point.ACTIVE_PENDING,
.status-text.ACTIVE_PENDING {
  --status-color: var(--lightBrown);
}

.status-point.ACTIVE_REDEEMABLE,
.status-text.ACTIVE_REDEEMABLE {
  --status-color: #5cb85c;
}

.status-point.CLAIMED,
.status-text.CLAIMED {
  --status-color: var(--lightGray);
}

.return-info-card {
  background-color: #1f2937;
  border-radius: 12px;
  padding: 12px 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.return-info-card-title {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #9ca3af;
}

.return-info-condition {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
  padding-left: 20px;
  /* 為垂直線留出空間 */
}

.return-info-condition .label {
  font-size: 20px;
  margin-right: 10px;
}

.return-info-condition.green .label {
  color: #4ade80;
}

.return-info-condition.red .label {
  color: #f87171;
}

.return-info-condition .value {
  font-size: 24px;
  color: #ffffff;
}

.return-info-condition::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  border-radius: 2px;
}

.return-info-condition.green::before {
  background-color: #4ade80;
  /* 綠色 */
}

.return-info-condition.red::before {
  background-color: #f87171;
  /* 紅色 */
}

.explanation-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-right: 48px;
  flex-wrap: wrap;
  /* 允許子元素換行 */
}

.explanation-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  height: 100%;
  padding: 0px 24px;
}

.sidebar {
  min-width: 200px;
  height: 100%;
  color: white;
  padding-top: 24px;
  background: linear-gradient(90deg, #5b79ba, var(--deepBlue));
}

.sidebar ul {
  padding-top: 48px;
}

.sidebar li {
  color: white;
  font-size: 24px;
  transition: color 0.3s;
  background: linear-gradient(90deg, #4c6aac, var(--deepBlue));
  padding: 4px 12px;
  background: linear-gradient(90deg, #5b79ba, var(--deepBlue));
}

.sidebar li:hover {
  color: #00bcd4;
  cursor: pointer;
  background: linear-gradient(90deg, #5b79ba, var(--deepBlue));
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebar li.active {
  background: linear-gradient(90deg, #5b79ba, var(--deepBlue));
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #00bcd4;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: var(--deepBlue);
}

.render-page-container {
  background: var(--deepBlue);
  width: 100%;
}